/* main.css overrides */
/* dan bryk - bloc - to-do-app assignment pt. 2 - 3/25/19 */

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.demo-card-wide {
  width: 100%;
}

.mdl-card__title {
  background-color: #eeeeee;
}

.mdl-card__title-text {
  font-weight: 600;
}

.mdl-textfield {
  width: 100%;
}
