/* main.css overrides */
/* dan bryk - bloc - to-do-app assignment pt. 2 - 3/25/19 */

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.demo-card-square.mdl-card {
  width: 100%;
}

.mdl-card__title {
  /* background-color: #eeeeee; */
  height: 150px;
  background: url('/images/todo_banner_lg_right.jpg') center / cover;
}

.mdl-card__title-text {
  color: #ffffff;
  font-weight: 300;
}
